@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,800;1,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #666fc2;
  --doc-height: 100%;
  --doc-width: 100%;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-background: rgb(235, 235, 235);
  --color-background-header: rgba(35, 47, 62);
  --border-bottom: 0.5px solid rgb(61, 60, 60);
  --color-dim: rgb(102, 102, 104);
  --box-shadow: 0 2rem 3rem var(--color-light);
  --input-background: rgb(238, 238, 238);
}
.dark-theme {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --color-light: rgba(0, 0, 0, 0.4);
}
html {
  font-size: 14px;
}

/* loading  */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  margin: 8px;
  border: 5px solid rgb(245, 144, 12);
  border-radius: 50%;
  animation: lds-ring 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e98a0e transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End of loading */
.bold {
  font-weight: 700;
}
a {
  color: black;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  width: var(--doc-width);
  height: var(--doc-height);
  font-size: 0.85rem;
  background: var(--color-background);
  transition: 0.5s ease;
  /* overflow-x: hidden; */
}

.header-wrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 7px 38px -20px rgba(69, 69, 69, 0.47);
  -webkit-box-shadow: 1px 7px 38px -20px rgba(69, 69, 69, 0.47);
  -moz-box-shadow: 1px 7px 38px -20px rgba(69, 69, 69, 0.47);
  position: sticky;
  height: 60px;
  width: 100%;
  top: 0;
  z-index: 999;
}
.header-center {
}
.search-container {
  background-color: rgb(238, 238, 238);
  width: 100%;
  border-radius: 40px;
  padding: 10px;
  display: flex;
}
.search-container input {
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
}
.header-center-icons {
  padding: 8px 30px;
  cursor: pointer;
  border-radius: 5px;
}
.header-center-icons-home {
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.header-center-icons:hover {
  background-color: rgb(238, 237, 237);
}
.header-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-right-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
